<!--The whole content below can be removed with the new code.-->
<h1>
  Welcome to Movie Quotes
</h1>
<input type='text' placeholder="Movie" name='movie' [(ngModel)]="movieQuote.movie" #ctrl="ngModel">
<input type='text' placeholder="Quote" name='quote' [(ngModel)]="movieQuote.quote">
<p *ngIf='movieQuote.movie && movieQuote.quote'>The best quote from <b>{{movieQuote.movie}}</b> is <b>"{{movieQuote.quote}}"</b></p>

<button (click)='addMovieQuote()'>Add</button>

<ul>
  <li *ngFor='let quote of quoteList'>
    <b>Movie: </b>{{quote.movie}} <b>Quote: </b>{{quote.quote}}
    <button (click)='editQuote(quote)'>Edit</button>
    <button (click)='deleteQuote(quote)'>Delete</button>
  </li>
</ul>